* {
    box-sizing: border-box;

}

#container{
    /*margin-left: 25rem;*/
    /*margin-top: -34rem;*/
    /*width: 1298px;*/
    /*height: 730px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

input{
    border: 3px solid;
    color: #06bb34;
    height: 3em;
}

#exerciseName1, #exerciseName2, #exerciseName3, #exerciseName4, #exerciseName5,
#dayTwoExerciseName1, #dayTwoExerciseName2, #dayTwoExerciseName3, #dayTwoExerciseName4, #dayTwoExerciseName5,
#dayThreeExerciseName1, #dayThreeExerciseName2, #dayThreeExerciseName3, #dayThreeExerciseName4, #dayThreeExerciseName5,
#dayFourExerciseName1, #dayFourExerciseName2, #dayFourExerciseName3, #dayFourExerciseName4, #dayFourExerciseName5,
#dayFiveExerciseName1, #dayFiveExerciseName2, #dayFiveExerciseName3, #dayFiveExerciseName4, #dayFiveExerciseName5{
    border: 2.5px solid;
    color: #ffff;
}

.exercisesTheEach{
    color: #0a0a0a;
}

/* Style the submit button */
/*form.example button {*/
/*    float: left;*/
/*    width: 20%;*/
/*    padding: 10px;*/
/*    background: #2196F3;*/
/*    color: white;*/
/*    font-size: 17px;*/
/*    border: 1px solid grey;*/
/*    border-left: none; !* Prevent double borders *!*/
/*    cursor: pointer;*/
/*}*/

/*form.example button:hover {*/
/*    background: #0b7dda;*/
/*}*/

/* Clear floats */
/*form.example::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/

button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: #06bb34;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

button::before,button::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 4px;
    background: #e5eae5;
    transform: skew(50deg);
    transition: .4s linear;
}

button::before{
    top:-4px;
    left: 10%;
}
button::after{
    bottom: -4px;
    right: 10%;
}
button:hover::before{
    left: 80%;
}
button:hover::after{
    right: 80%;
}


img {
    max-width: 200px;
    border-color: white;
    border-size: 5px;
}

#exercises {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    margin-left: 4em;
    margin-right: 4em;

}

.goToTopBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    border: 3px solid #06bb34;
}

.arrowLeft{
    position: absolute;
    width: 50px;
    height: 50px;
    /*bottom: 50px;*/
    /*right: 20px;*/
    /*left: 120px;*/
    top: 20%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    /*border: 3px solid #06bb34;*/
}

.arrowLeft:hover{
    font-size: 40px;
}
.checkboxContainer input{
    display: none;
}
.checkboxContainer {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}
.checkboxContainer .checkmark{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: snow;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}
.checkboxContainer input:checked + .checkmark{
    background-color: #06bb34;
}
.checkboxContainer:hover .checkmark{
    background-color: #ccc;
}
.checkboxContainer input:checked + .checkmark:after{
    content: "";
    position: absolute;
    height: 4px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#itemsList{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 1em 1em;
    padding: 1em 1em;
    justify-content: center;
    text-align: center;
}

#itemsList h3{
    padding-bottom: 0.5em;
    font-size: 18px;
}

#itemsList img{
    box-shadow: 5px 5px 5px grey;
}

.checkboxContainer{
    padding: 0.5em 1em;
}

.exercise-details-title{
    display: grid;
    /*grid-template-columns: repeat(2, 2fr);*/
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 1em 1em;
    padding: 1em 1em;
    justify-content: center;
    text-align: center;
    /*background-color: yellow;*/
}

.exercise-details-title a {
    text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
}


#exercisesListHiddenFields{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 1em 1em;
    padding: 1em 1em;
    justify-content: center;
    text-align: center;
}
#exercisesListHiddenFields  img{
    border: 3px solid #ffff;
    box-shadow: 5px 5px 5px grey;
}

/*.musclesList{*/
/*    letter-spacing: 1px;*/
/*    position: relative;*/
/*    padding: 0.5px;*/
/*    text-align: center;*/
/*    line-height: 18px;*/
/*    margin: 0.5em;*/
/*}*/

.musclesList li{
    display: inline-block;
}


@media only screen and (max-width: 767px) {
    .main_menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .userInputForm{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        left: 0;
    }

    #itemsList{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #exercisesListHiddenFields{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}