@import url('https://fonts.googleapis.com/css?family=Lato:100');

* {
    /*background: url(../images/backgroundImage.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-color: #e5eae5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0a0a0a;
}

html{
    font-family: "Lato", Arial, sans-serif;
}
h1{
    text-align: center;
}


.main_menu{
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    text-align: center;
    border: 3px solid #ffff;
    line-height: 32px;
    margin: 1em;
}
.main_menu li{
    display: inline-block;
}

.main_menu a{
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
    padding: 1px 20px;
    color: #0a0a0a;
}

.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #06bb34;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .6s;
}

.logo{
    max-width: 35%;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}


#container{
    /*margin-left: 25rem;*/
    /*margin-top: -34rem;*/
    width: 1298px;
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: center;
    border: 3px solid #ffff;
    padding: 10px;
    margin: 1em;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: bolder;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.goToTopBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    border: 3px solid #06bb34;
}

.arrowLeft{
    position: absolute;
    width: 50px;
    height: 50px;
    /*bottom: 50px;*/
    /*right: 20px;*/
    /*left: 120px;*/
    top: 20%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    /*border: 3px solid #06bb34;*/
}

.arrowLeft:hover{
    font-size: 40px;
}