@import url('https://fonts.googleapis.com/css?family=Lato:100');

* {
    /*background: url(../images/backgroundImage.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-color: #e5eae5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: #0a0a0a;*/
}

html{
    font-family: "Lato", Arial, sans-serif;
}
h1, h2, h3{
    text-align: center;
    /*padding: 0.5em 0.5em;*/
    font-size: 35px;
}


.main_menu{
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    text-align: center;
    border: 3px solid #ffff;
    line-height: 32px;
    margin: 1em;
}
.main_menu li{
    display: inline-block;
}

.main_menu a{
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
    padding: 1px 20px;
    color: #0a0a0a;
}

.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #06bb34;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .6s;
}

.logo{
    max-width: 35%;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}


footer{
    text-align: center;
    border: 3px solid #ffff;
    padding: 10px;
    margin: 1em;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: bolder;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /*text-align: center;*/
}

.planHeader{
    text-align: center;
    font-size: 35px;
}

.listExercisePlans{
    border: 3px dashed #ffff;
    margin: 5em 35em;
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: auto;*/
    /*grid-column-gap: 1em;*/
    /*grid-row-gap: 1em;*/
    /*!*margin: 1em 1em;*!*/
    /*padding: 1em 1em;*/
    justify-content: center;
}

.listExercisePlansTheEach{
    font-size: 25px;
    padding: 1em 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.listExercisePlansTheEach a {
    text-decoration: none;
    color: #0a0a0a;
}


.listExercisePlansTheEach::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #06bb34;
    transition: width .3s;
}
.listExercisePlansTheEach:hover::after{
    width: 100%;
    transition: width .6s;
}

/*.exercisePlanDetails{*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    padding: 20px 20px;*/
/*    margin: 1em 1em;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
/*    border: 3px dashed #ffff;*/
/*    !*display: inline-block;*!*/
/*    display: block;*/
/*    grid-template-columns: 1fr;*/
/*    !*justify-items: center;*!*/
/*}*/

/*.planListLinkExercise{*/
/*    text-align: center;*/
/*    position: center;*/
/*}*/

/*.exercisePlansDetailsList a{*/
/*    text-decoration: none;*/
/*    color: #0a0a0a;*/
/*    text-align: center;*/
/*    position: center;*/
/*    !*border: 3px dashed #ffff;*!*/
/*    !*padding: 0.5em 5em;*!*/
/*}*/

/*.planListLinkExercise::after{*/
/*    content: '';*/
/*    display: block;*/
/*    width: 0;*/
/*    height: 2px;*/
/*    background: #06bb34;*/
/*    transition: width .3s;*/
/*}*/

/*.planListLinkExercise:hover::after{*/
/*    width: 100%;*/
/*    transition: width .6s;*/
/*}*/


/*.exercisePlansDetailsList{*/
/*    padding: 1em 0em;*/
/*    font-size: 28px;*/
/*    !*margin-left: 250px;*!*/
/*    !*margin-right: 250px;*!*/
/*}*/

/*.exercisePlansHeader{*/
/*    padding: 0.5em 0.5em;*/
/*}*/

.goToTopBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    border: 3px solid #06bb34;
}

.arrowLeft{
    position: absolute;
    width: 50px;
    height: 50px;
    /*bottom: 50px;*/
    /*right: 20px;*/
    /*left: 120px;*/
    top: 20%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    /*border: 3px solid #06bb34;*/
}

.arrowLeft:hover{
    font-size: 40px;
}

@media only screen and (max-width: 767px) {
    .main_menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .listExercisePlans{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}