    @import url('https://fonts.googleapis.com/css?family=Lato:100');

* {
    background-color: #e5eae5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: #0a0a0a;*/
}

html{
    font-family: "Lato", Arial, sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    text-align: center;
}

h2{
    padding: 1em 1em;
    font-weight: bolder;
}

h3{
    padding: 0.5em 1em;
    color: #06bb34;
    font-weight: bolder;
    font-size: 2em;
}

h4{
    color: #06bb34;
}

.main_menu{
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    text-align: center;
    border: 3px solid #ffff;
    line-height: 32px;
    margin: 1em;
}
.main_menu li{
    display: inline-block;
}

.main_menu a{
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
    padding: 1px 20px;
    color: #0a0a0a;
}

.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #06bb34;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .6s;
}

.logo{
    max-width: 35%;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

footer{
    text-align: center;
    border: 3px solid #ffff;
    padding: 10px;
    margin: 1em;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: bolder;
    font-size: 18px;

}

.exerciseDetails{
    justify-content: center;
    text-align: center;
}

.exerciseDetailsDescription{
    text-align: center;
    padding: 3px 0px;
    margin: 1em 1em;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    /*background-color: yellow;*/
}

.exercise-details-minANDage{
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}

/*.exerciseDetails img{*/
/*    border: 3px solid #ffff;*/
/*    justify-content: center;*/
/*    justify-items: center;*/

/*}*/

.exerciseDetailsName{
    padding: 0.5em 1em;
}

/*.prev-btn{*/
/*    padding: 10px;*/
/*    position: absolute;*/
/*    top: 25%;*/
/*    transform: translateY(-50%);*/
/*    font-size: 35px;*/
/*    !*z-index: 100;*!*/
/*    cursor: pointer;*/
/*    transition: 400ms;*/
/*}*/

/*.prev-btn:hover{*/
/*    font-size: 40px;*/
/*}*/

/*.prev-btn a {*/
/*    text-decoration: none;*/
/*    list-style-type: none;*/
/*    margin-left: 0.5em;*/
/*}*/

/*.prev-btn a:hover {*/
/*    color: #06bb34;*/
/*}*/

.exerciseDetails li{
    list-style-type: none
}

#listExercises{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#listExercises section img{
    width: 100%;
    border: 3px solid #ffff;
    justify-content: center;
    justify-items: center;
}


.exerciseDetails{
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr;
       grid-template-rows: auto;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        margin: 1em 1em;
        padding: 1em 1em;
        justify-content: center;
        text-align: center;
}

.exercise-details-minANDage li{
    padding: 0.3em;
}

.goToTopBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    border: 3px solid #06bb34;
}

.arrowLeft{
    position: absolute;
    width: 50px;
    height: 50px;
    /*bottom: 50px;*/
    /*right: 20px;*/
    /*left: 120px;*/
    top: 20%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #06bb34;
    font-size: 35px;
    /*border: 3px solid #06bb34;*/
}

.arrowLeft:hover{
    font-size: 40px;
}