<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="css/excercisesView.css">
    <title>Exercise Details</title>
</head>

<body>
<img class="logo" src="/images/logo.transparent.gif">
<nav>
    <ul class="main_menu">
        <li><a href="/home.html" class="cool-link">HOME</a></li>
        <li><a href="/aboutUs.html" class="cool-link">OUR MISSION</a></li>
        <li><a href="/contactUs.html" class="cool-link">CONTACT US</a></li>
    </ul>
</nav>
<div id="listContainer">
    <section class="exercise-details">
        <h2 class="exerciseHeader">See below exercise guide:</h2>

        <section class="exercise-details" th:each="exercise:${exercises}">
            <h3 class="exercise-details-title" th:text="${exercise.name}"></h3>
            <img class="exerciseImage" th:src="${exercise.imageUrl}">
            <ul class="exercise-details-minANDage">
                <h4>Minutes Needed:</h4>
                <li th:text="${exercise.timeInMinutes}"></li>
                <h4>Age from:</h4>
                <li th:text="${exercise.youngAge}"></li>
                <h4>Age to:</h4>
                <li th:text="${exercise.oldAge}"></li>
                <p class="exercise-details-description" th:text="${exercise.description}"></p>
            </ul>
        </section>

    </section>
</div>
<footer>
    &copy; Team Core-N-Tine 2020
</footer>
</body>
</html>
