<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/excerciseView.css">
    <title>Exercise Details</title>
</head>

<body>
<img class="logo" src="/images/logo.transparent.gif">
<nav>
    <ul class="main_menu">
        <li><a href="/home.html" class="cool-link">HOME</a></li>
        <li><a href="/aboutUs.html" class="cool-link">OUR MISSION</a></li>
        <li><a href="/contactUs.html" class="cool-link">CONTACT US</a></li>
    </ul>
</nav>
<div id="listContainer">
    <section class="exercise-details">
        <h2 class="exerciseHeader">See below exercise guide</h2>
        <h3 class="exercise-details-title" th:each="exercise:${exercises}"><a th:text="${exercise.name}"></a></h3>
        <img class="exerciseImage" th:each="exercise:${exercises}" th:src="${exercise.imageUrl}">
<!--        <p class="exercise-details-description" th:each="exercise:${exercises}" th:text="${exercise.description}"></p>-->

<!--            <nav>-->
<!--                <ul class="exercise-details-minANDage">-->
<!--                    <li th:text="${exercise.timeInMinutes}">Minutes needed:</li>-->
<!--                    <li th:text="${exercise.youngAge}">Young Age:</li>-->
<!--                    <li th:text="${exercise.oldAge}">Old Age:</li>-->
<!--                </ul>-->
<!--            </nav>-->

    </section>
</div>
<footer>
    &copy; Team Core-N-Tine 2020
</footer>
</body>
</html>
