<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/exercisePlanView.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <title>Exercise Plan</title>
</head>

<body>
<img class="logo" src="/images/logo.transparent.gif">
<nav>
    <ul class="main_menu">
        <li><a href="/home.html" class="cool-link">HOME</a></li>
        <li><a href="/exercises" class="cool-link">BROWSE ALL EXERCISES</a></li>
        <li><a href="/exerciseplan" class="cool-link">EXERCISE PLANS</a></li>
        <li><a href="/muscles" class="cool-link">IMPROVE A MUSCLE</a></li>
        <li><a href="/buildaplan" class="cool-link">ADD A PLAN</a> </li>
        <li><a href="/theTeam.html" class="cool-link">THE TEAM</a></li>
        <li><a href="/aboutUs.html" class="cool-link">OUR MISSION</a></li>
        <li><a href="/contactUs.html" class="cool-link">CONTACT US</a></li>
    </ul>
</nav>

<h1 class="exercisePlansHeader" th:text="${exercisePlan.planName}"></h1>

<section class="exercisePlanDetails">
<div id="listExercises">
    <div>
    <h2 class="exercisePlanDetailsListExercises">Day One</h2>
    <h3 class="exerciseDetailsName" th:each="exercise:${exercisePlan.dayOneExercises}">
        <a th:href="@{'/exercise/' + ${exercise.id}}" th:text="${exercise.name}"></a></h3>
    </div>

    <div>
    <h2  class="exercisePlanDetailsListExercises">Day Two</h2>
    <h3 class="exerciseDetailsName" th:each="exercise:${exercisePlan.dayTwoExercises}">
        <a th:href="@{'/exercise/' + ${exercise.id}}" th:text="${exercise.name}"></a></h3>
    </div>

    <div>
    <h2 class="exercisePlanDetailsListExercises">Day Three</h2>
    <h3 class="exerciseDetailsName" th:each="exercise:${exercisePlan.dayThreeExercises}">
        <a th:href="@{'/exercise/' + ${exercise.id}}" th:text="${exercise.name}"></a></h3>
    </div>

    <div>
    <h2 class="exercisePlanDetailsListExercises">Day Four</h2>
    <h3 class="exerciseDetailsName" th:each="exercise:${exercisePlan.dayFourExercises}">
    <a th:href="@{'/exercise/' + ${exercise.id}}" th:text="${exercise.name}"></a></h3>
    </div>

    <div>
    <h2 class="exercisePlanDetailsListExercises">Day Five</h2>
    <h3 class="exerciseDetailsName" th:each="exercise:${exercisePlan.dayFiveExercises}">
        <a th:href="@{'/exercise/' + ${exercise.id}}" th:text="${exercise.name}"></a></h3>
    </div>

</div>
</section>

<a href="" class="goToTopBtn"><i class="fas fa-chevron-up"></i></a>

<a onclick="goBack()" class="arrowLeft"><i class="fas fa-chevron-left"></i></a>
<script>
    function goBack(){
        window.history.back();
    }
</script>

<footer>
    &copy; Team Core-N-Tine 2020
</footer>
</body>
</html>