<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="itemsView.js"></script>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/itemsView.css">
    <title>Items List</title>
</head>

<body>
<img class="logo" src="/images/logo.transparent.gif">
<nav>
    <ul class="main_menu">
        <li><a href="/home.html" class="cool-link">HOME</a></li>
        <li><a href="/exercises" class="cool-link">BROWSE ALL EXERCISES</a></li>
        <li><a href="/exerciseplan" class="cool-link">EXERCISE PLANS</a></li>
        <li><a href="/muscles" class="cool-link">IMPROVE A MUSCLE</a></li>
        <li><a href="/theTeam.html" class="cool-link">THE TEAM</a></li>
        <li><a href="/aboutUs.html" class="cool-link">OUR MISSION</a></li>
        <li><a href="/contactUs.html" class="cool-link">CONTACT US</a></li>
    </ul>
</nav>

<h2 class="selectItems">Step I - Select the items in your home</h2>

<!--Items and checkboxes-->
<div id="itemsList">
    <div id="listContainer0">
        <h3 class="itemRoom"><label class="checkboxContainer"><input id="roomBox" type="checkbox" onclick="showRoom()"><span class="checkmark"></span></label>Empty Room</h3>
        <img src="images/room.jpg">

    </div>

    <div id="listContainer">
        <h3 class="itemChair"><label class="checkboxContainer"><input id="chairBox" type="checkbox" onclick="showChair()"><span class="checkmark"></span></label>Chair</h3>
        <img src="images/chair.jpg">
    </div>

    <div id="listContainer2">
        <h3 class="itemStairs"> <label class="checkboxContainer"><input id="stairsBox" type="checkbox" onclick="showStairs()"><span class="checkmark"></span></label>Stairs</h3>
        <img src="images/stairs.jpg">
    </div>

    <div id="listContainer3">
        <h3 class="itemChair"><label class="checkboxContainer"><input id="jugsBox" type="checkbox" onclick="showJugs()"><span class="checkmark"></span></label>Jugs</h3>
        <img src="images/jug.jpg">
    </div>

    <div id="listContainer4">
        <h3 class="itemPVC"><label class="checkboxContainer"><input id="pvcBox" type="checkbox" onclick="showPVC()"><span class="checkmark"></span></label>PVC Pipe</h3>
        <img src="images/pvcpipe.jfif">
    </div>

    <div id="listContainer5">
        <h3 class="itemPaperPlates"><label class="checkboxContainer"><input id="platesBox" type="checkbox" onclick="showPlates()"><span class="checkmark"></span> </label>Paper Plates</h3>
        <img src="images/paperplates.jfif">
    </div>
</div>

<!--Hidden fields of exercises-->

<div id="exercisesListHiddenFields">
    <div id="hiddenField0" style="display:none">
        <h2 class="selectItems">Step II - Choose an exercises</h2>
        <h3 class="exercise-details-title" th:each="exercise:${room.exercises}"> <a th:href="@{'/exercise/'+ ${exercise.id}}" th:text="${exercise.name}"></a>
            <img th:src="${exercise.imageUrl}">
        </h3>
    </div>

    <div id="hiddenField" style="display:none">
        <h2 class="selectItems">Step II - Choose an exercises</h2>
        <h3 class="exercise-details-title" th:each="exercise:${chair.exercises}"> <a th:href="@{'/exercise/'+ ${exercise.id}}" th:text="${exercise.name}"></a>
            <img th:src="${exercise.imageUrl}">
        </h3>
    </div>

    <div id="hiddenField2" style="display:none">
        <h2 class="selectItems">Step II - Choose an exercises</h2>
        <h3 class="exercise-details-title" th:each="exercise:${stairs.exercises}"> <a th:href="@{'/exercise/'+ ${exercise.id}}" th:text="${exercise.name}"></a>
            <img th:src="${exercise.imageUrl}">
        </h3>
    </div>

    <div id="hiddenField3" style="display:none">
        <h2 class="selectItems">Step II - Choose an exercises</h2>
        <h3 class="exercise-details-title" th:each="exercise:${jugs.exercises}"> <a th:href="@{'/exercise/'+ ${exercise.id}}" th:text="${exercise.name}"></a>
            <img th:src="${exercise.imageUrl}">
        </h3>
    </div>

    <div id="hiddenField4" style="display:none">
        <h2 class="selectItems">Step II - Choose an exercises</h2>
        <h3 class="exercise-details-title" th:each="exercise:${pvcPipe.exercises}"> <a th:href="@{'/exercise/'+ ${exercise.id}}" th:text="${exercise.name}"></a>
            <img th:src="${exercise.imageUrl}">
        </h3>
    </div>

    <div id="hiddenField5" style="display:none">
    <h2 class="selectItems">Step II - Choose an exercises</h2>
    <h3 class="exercise-details-title" th:each="exercise:${paperPlates.exercises}"> <a th:href="@{'/exercise/'+ ${exercise.id}}" th:text="${exercise.name}"></a>
        <img th:src="${exercise.imageUrl}">
    </h3>
</div>

</div>

<!--BUTTON-->

<!--<a class="btnHyperlink" href="/exercises">-->
<!--    <button class="btn">BROWSE ALL EXERCISES</button>-->
<!--<section class="browseAllExercises">-->
<!--    <a href="/exercises" class="cool-link">OR BROWSE ALL EXERCISES</a>-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</section>-->

<footer>
    &copy; Team Core-N-Tine 2020
</footer>
</body>
</html>
