<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="itemsView.js"></script>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/itemsView.css">
    <title>Items List</title>
</head>

<body>
<img class="logo" src="/images/logo.transparent.gif">
<nav>
    <ul class="main_menu">
        <li><a href="/home.html" class="cool-link">HOME</a></li>
        <li><a href="/aboutUs.html" class="cool-link">OUR MISSION</a></li>
        <li><a href="/contactUs.html" class="cool-link">CONTACT US</a></li>
    </ul>
</nav>
<h3 class="listHeader">Checkmark all items that are in your home</h3>
<div id="listContainer">
    <h3 class="listOfItems" th:each="item:${items}">
        <label class="checkboxContainer">-<input id="checkBox" type="checkbox" onclick="showHide()"><span class="checkmark"></span></label>
        <a th:text="${item.name}"></a>
        <img class="itemImage" th:src="${item.imageUrl}">
    </h3>
</div>

<!--<div id="listContainer">-->
<!--    <h3 class="itemChair">Chair</h3>-->
<!--    <img src="images/tricepsChairDip.gif">-->
<!--    <label class="checkboxContainer">-<input type="checkbox" onclick="showHide()"><span class="checkmark"></span></label>-->
<!--</div>-->

<div id="hiddenField" style="display:none">
    <h3 class="exercise-details-title" th:each="exercise:${exercises}"><a th:text="${exercise.name}"></a>
    <img class="exerciseImage" th:src="${exercise.imageUrl}">
    </h3>
</div>

<a class="btnHyperlink" href="/exercises"> <!--button is there but will need to go inside the form-->
    <button class="btn">SUBMIT</button>
</a>

<footer>
    &copy; Team Core-N-Tine 2020
</footer>
</body>
</html>
