<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/muscleView.css">
    < <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <title>Muscle</title>
</head>
<body>
<img class="logo" src="/images/logo.transparent.gif">
<nav>
    <ul class="main_menu">
        <li><a href="/home.html" class="cool-link">HOME</a></li>
        <li><a href="/exercises" class="cool-link">BROWSE ALL EXERCISES</a></li>
        <li><a href="/exerciseplan" class="cool-link">EXERCISE PLANS</a></li>
        <li><a href="/buildaplan" class="cool-link">ADD A PLAN</a> </li>
        <li><a href="/muscles" class="cool-link">IMPROVE A MUSCLE</a></li>
        <li><a href="/theTeam.html" class="cool-link">THE TEAM</a></li>
        <li><a href="/aboutUs.html" class="cool-link">OUR MISSION</a></li>
        <li><a href="/contactUs.html" class="cool-link">CONTACT US</a></li>
    </ul>
</nav>

<h1 class="headerTitle" th:text="${muscle.name}">Refactoring</h1>

<section class="exerciseList">
    <h2 class="exerciseListHeading">Here is the list of the exercises:</h2>

    <nav class="exerciseNavList">
        <ul>
            <li class="exerciseListLinkExerciseThEach" th:each="exercise:${muscle.exercises}">
                <a class="exerciseListLinkExercise" th:href="@{'/exercise/' + ${exercise.id}}"
                   th:text="${exercise.name}">Refactoring</a>
            </li>
        </ul>
    </nav>
</section>

<!--<div class="prev-btn">-->
<!--    &lt;!&ndash;    <i class="fas fa-chevron-left"></i>&ndash;&gt;-->
<!--    <a class="fas fa-chevron-left" href="/muscles">  back</a>-->
<!--</div>-->

<a href="" class="goToTopBtn"><i class="fas fa-chevron-up"></i></a>

<a onclick="goBack()" class="arrowLeft"><i class="fas fa-chevron-left"></i></a>
<script>
    function goBack(){
        window.history.back();
    }
</script>

<footer>
    &copy; Team Core-N-Tine 2020
</footer>

</body>
</html>